.banerThumb {
  width: 100%; /* Ширина контейнера */
  height: 700px; /* Висота контейнера */
  overflow: hidden; /* Обрізання вмісту, що виходить за межі контейнера */
}
.baner {
  width: 100%; /* Ширина зображення відповідає ширині контейнера */
  height: 100%; /* Висота зображення відповідає висоті контейнера */
  object-fit: cover; /* Зображення заповнює контейнер, зберігаючи свої пропорції */
}
