.header {
  position: sticky;
  z-index: 50;
  top: 0;
  background-color: white;
}
.headerWrapper {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}
