.vehicleDetails {
  padding: 24px;
  border-top: 1px solid #e0e0e0;
}
.vehicleBox {
  margin-top: 44px;
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.detailKey {
  color: #101828;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.detailValue {
  text-align: right;
  color: #101828;
}
