.footerBox {
  position: relative;
  height: 150px;
  width: 100%;
  margin-top: 60px;
}
.line {
  position: absolute;
  border: 1px solid #ef8200;
  top: 0;
  width: 100%;
}
.contactBox {
  position: absolute;
  top: 50%;
  right: 80px;
}
.text {
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  align-content: center;
}
.contact {
  font-size: 32px;
  font-weight: 700;
  line-height: 50px;
  align-content: center;
}
.location {
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
}
