.aboutSection {
  display: flex;
  gap: 70px;
}
.img {
  border-radius: 10px;
  height: 450px;
  width: 700px;
}
.text {
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  align-content: center;
}
