.aboutSection {
  display: flex;
  gap: 70px;
  padding-bottom: 5px;
}
.img {
  border-radius: 10px;
  height: 350px;
  width: 500px;
}
.text {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  align-content: center;
}
