.marquee {
  overflow: hidden;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.spanMarquee {
  color: orangered;
  overflow: hidden;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.marqueeInner {
  display: flex;
  width: 100%;
}
.marqueeLine {
  flex-shrink: 0;
  margin: 0;
  min-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
