@import "../node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Inter";
  src: url("/public/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/public/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/public/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
:root {
  --color-dark: #101828;
  --color-grey: #475467;
  --color-red: #e44848;
  --dark-red: #d84343;
  --color-yellow: #ffc531;
  --color-orange: #ef8200;
  --color-lightbluegrey: #f2f4f7;
  --color-lightgrey: #f7f7f7;
}
body {
  margin: 0;
  color: var(--color-dark);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}
a {
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}
