.navigation {
  display: flex;
}
.navigationList {
  display: flex;
}
.navigationItems {
  display: flex;
  gap: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.link {
  color: var(--color-dark);
  font-size: 30px;
  font-weight: 500;
  line-height: 30px; /* 125% */
}

.active {
  border: 1px solid #e44848;
  border-radius: 200px;
  padding: 4px 20px;
}
